.container{
    background-color: bisque;
    border:1px solid black;
    height:120vh;
    margin:5px;
    padding:5px;
    display:flex;
    flex-direction: row;
    /* flex-wrap:wrap;  */
    justify-content:start;
     align-items: start; 
     align-content: start;

    
}
.box{
    height:200px;
    width:300px;
    border:2px solid red;
    text-align: center;
    margin:3px;
    padding:3px;
}
#box1{
    background-color: blue;
    /* order: 500; */
    /* flex-shrink: 6; */
}
#box2{
    background-color:blueviolet;
    /* flex-shrink: 4; */
    /* flex-grow: 4; */
}
#box3{
    background-color:brown;
    align-self: flex-end;
}
#box4{
    background-color:burlywood;
    /* flex-basis: 400px; */
    align-self: center;
}